.services {
  background: var(--clr-grey-10);

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(36.333rem, 1fr));
    column-gap: 3rem;
  }

  &__service {
    text-align: center;
  }

  &__service > i {
    font-size: 4rem;
    color: var(--clr-primary-1);
    background: var(--clr-primary-5);
    padding: 1rem;
    margin-bottom: 2rem;
  }

  &__service-text {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
}

